spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${senderMail}
    password: ${senderPassword}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
            connection-timeout: 5000
          timeout: 5000
          write-timeout: 5000
server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/